<p class='pull-right'>[<%= link_to "Edit Post", edit_post_path(@post) %>]</p>

<%= render @post.categories %>

<p class='lead'>
  <%= @post.title %>
  <hr/>
</p>

<p><%= @post.description %></p>

<%= form_for [@post, @comment] do |f| %>
  <%= render 'shared/errors', obj: @comment %>
  <div class='control-group'>
    <%= f.label :body, 'Leave a comment' %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit 'Create comment', class:'btn btn-primary' %>
<% end %>
